<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourney Comms</title>
</head>
<body>
    <%- include('../partials/nav.ejs')  %>
    <h1><%=tournament.name %></h1>
    <h2>Date (yyyy/mm/dd):</h2>
    <p><%=tournament.date %></p>
    <h2>Address:</h2>
    <p><%=tournament.address %></p>
    <h2>Rules:</h2>
    <p><%=tournament.rules %></p>
    <h2>Participants:</h2>
    <p><%=tournament.participants %></p>
</body>
</html>